autopep8==2.0.4
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
mypy==1.5.1
mypy-extensions==1.0.0
prettytable==3.13.0
psutil==6.1.1
pycodestyle==2.11.0
python-dotenv==1.0.1
requests==2.32.4
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.6.3
wcwidth==0.2.13
